@charset "UTF-8";

body {
    /* background-color: skyblue; */
    font-family: Arial, Helvetica, sans-serif, 'Courier New', Courier, monospace;
    /* "Open Sans","arial","Apple SD Gothic Neo","Noto Sans CJK KR","본고딕","KoPubDotum","나눔바른고딕","나눔고딕","NanumGothic","맑은고딕","Malgun Gothic",sans-serif */
    margin: 15px;
}

.title {
    padding-bottom: 7px;
    border-bottom: 1.5px solid lightgray;
}

.board_wrap{
    max-width: 1000px;
    margin: 10px auto;
}


#contents:before{
    content: "목차";
    padding-left: 14px;
    font-size: 1.3em;
    margin-left: 0.2em;
}

#contents {
    display: inline-block;
    max-width: fit-content;
    text-align: left;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    margin-top: 14px;
    margin-left: 5px;
    margin-right: 10px;
    outline: 1px solid lightgray;
    background-color: white;
}

#header{
    display: block;
    margin-bottom: 1rem;
}

#profile{
    display: block;
    max-width: 100%;
    overflow-x: auto;
    float: right;
    margin-bottom: 20px;
    margin-left: 20px;
}

#profileTable{
    background-color: #fff;
    width:100%; 
    border: 2px solid #43484c;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.contentItem1{
    display: block;
    padding-left: 14px;
    margin-top: 1.5px;
}

.contentItem2{
    display: block;
    padding-left: 28px;
    margin-top: 1.5px;
}

.contentItem3{
    display: block;
    padding-left: 42px;
    margin-top: 1.5px;
}

.tableTitle{
    text-align: center;
    background-color: gray;
    color: white;
    font-weight: bold;
}

.tableContent{
    text-align: left;
    background-color: white;
    color: black;
}

.profileImg{
    max-width: 350px;
    /* width: 50%; */
    display: inline-block;
}

a:link, a:visited {
    color: royalblue;
    text-decoration-line: none;
}

a:hover, a:active{
    color: royalblue;
    text-decoration-line: underline;
}